html{
    background: ivory;
}
#IG{
    position: relative;
    left: 10px;
}
#TikTok{
    position: absolute;
    left: 50px;
}
h1{
    color: darkviolet;
    text-align: center;
    font-style: italic;
}
.Top-paragraph{
    font-size: 20px;
     font-style: italic;
}
div{
    /* border: 2px dashed purple; */
    width: 150px;
    border-radius: 50%;
    /* background-color: lightyellow; */
}