.active{
    background-color: #004147 !important;
}
.nav-link{
    color: #004147 !important;
}
.home{
    color: white !important;
    font-weight: bold;
}

.gradient-background, .pictures{
    background: linear-gradient(300deg, #FFFBF1, #FFFAF3, #B6AE9F);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: black;
    font-family: sans-serif;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.carousel, .carousel-inner, .carousel-item{
    width: 100%;
    height: auto;
    /* aspect-ratio: 9 / 16; */
}
.carousel-item >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* background-color: #FFFBF1; */
}

.pricing button{
    background-color: #004147 !important;
    color: white !important;
}
.gradient-background .samples{
    background-color: #004147 !important;
}
