html{
    background: ivory;
}
#IG{
    position: relative;
    left: 10px;
}
#TikTok{
    position: absolute;
    left: 50px;
}
h1{
    color: darkviolet;
    text-align: center;
    font-style: italic;
}
.Top-paragraph{
    font-size: 20px;
     font-style: italic;
}
div.overall{
    height: 100%;
    width: 100%;
}
@media(max-width: 600px){
    div.overall{
        height: 50%;
        width: 50%;
        font-size: 50px;
    }
}